  .content{
    width: 100%;
    text-align: center;
    .main-content{
      margin:0 auto;
      text-align: center;

    .main-advertising{
      max-width: 680px;
      max-height: 380px;
      margin:0 auto;

      a{
        width: 100%;
        margin:0 auto;


      &__image{
 





      }
      }
      






    }



  }


  }