- if user.errors.any?
  - unless user.valid?(:validates_step2)
    - if errors = user.errors.full_messages_for(column.to_sym)
      %ul.has-error-text
        - errors.each do |error|
          %li=error