.single-container-sai
  .header-logo-sai
    %h1.header-logo-sai__link
      = link_to root_path do
        = image_tag 'mercari-logo.png', size: '155x50'

    %nav.progress
      %ul.progress-bar
        %li.through#through
          会員情報
          .progress-status
          .progress-status_bar
        %li.active#through
          電話番号認証
          .progress-status
          .progress-status_bar
        %li.address#address#through
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.payment#payment#through
          支払い方法
          .progress-status
          .progress-status_bar
        %li.end#end#active
          完了
          .progress-status
          .progress-status_bar
    
    .single-main-sai
      .l-single-container-sai2#done-height
        .single-main-box
          .register-heading-take
            会員登録完了
          .register-content-box-take
            .l-single-content-take
              .form-group-done
                .form-group-done__text
                  ありがとうございます。
                %br  
                  会員登録が完了しました。
                  
              .done-info-submit
                .card-info-submit__btn
                  = link_to root_path do


        .done-register-download-footer
          =render 'tops/downloadfooter'

      .done-register-footer
        = render 'signup/footer'

