.new-product-toplist__box
  %ul
    .new-product-toplist__box__image
      = link_to root_path do
        = image_tag 'topspink.jpg', size: '188x188'
        .new-product-toplist__price
          ¥1,200
    .new-product-toplist__box__title
      .new-product-toplist__title
        %h6 ピンクトップスピンクトップスピンクトップスピンクトップス


