.exhibit-fix-btn.displayflex
  .exhibit-fix-btn__box
    = link_to new_sell_path do
      .exhibit-fix-btn__text
        出品
      .exhibit-camera__icon{"aria-hidden" => "true"}
        %i
          = fa_icon 'camera', class: 'icon' 






