        .top-low-row-right__signin
          %ul
            %li.top-low-row-right__register
              = link_to entry_signup_signup_index_path do
                %h3 新規会員登録
            %li.top-low-row-right__login
              = link_to new_user_session_path do
                %h3 ログイン