        .top-low-row-right__signin
          %ul
            %li.top-low-row-right__register
              = link_to root_path do
                %h3 新規会員登録
            %li.top-low-row-right__login
              = link_to root_path do
                %h3 ログイン