.wrapper-take
  = render 'topheader'
  .content
    .main-content 
      = render 'content'
  .top-exhibit-fix-btn
    = render 'topexhibit'
.footer-take
  = render 'topfooter'    


















        
















