        .top-low-row-right-list
          %ul
            %li.top-low-row-right-list__like
              = link_to root_path do
                %i
                  = fa_icon 'heart', class: 'icon'              
                %h4 いいね！一覧