.u-content-ito
  %h2.u-content-ito__howto　支払い方法
  .u-content-ito__inner
    %section
      .u-content-ito__inner__header
        %h3　クレジットカード一覧
      %ul.u-content-ito__inner__list
        %li
          = image_tag 'visamark.png',class: "visa"
        .visa__number * * * * * * * * * *0836
        .visa__month 02/88
        %button.visa__button 削除する
    .u-content-ito__inner__link
      = link_to '支払い方法について',''
      %i.fa.fa-angle-right   