// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .default-container-sai{
//   background-color: gray;
//   height: 100px;
//   width: 100px;

// }

.single-container-sai{
  padding: 0 0 250px;
  background: #f5f5f5;

  .single-header-sai{
    text-align: center;
    .single-header-sai{
      display: inline-block;
      margin: 11px 0 12px;


    }
    .single-main-sai{
      display: block;

      .l-single-container-sai{
        background: White;
        height: 700px;
        width: 700px;
        margin: 0 auto;

        .l-single-head-sai{
          padding: 24px 8px;
          font-size: 18px;
          line-height: 1.5;
          text-align: center;
        }

        .sell-form-sai{
          border-top: 1px solid #eee;

          .sell-upload-box-sai{
            padding: 40px 2.5%;

            .sell-upload-head-sai{
              float: left;
              font-size: 16px;
            }

            .form-require-sai{
              float: left;
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }

          } 
        }

      }
    }
  }


}


