
@import "config/variable";
@import "config/reset";
@import "mixins/clearfix";
@import "font-awesome";
@import "top/header";
@import "top/content";
@import "top/topexhibit";
@import "modules/topfooter";
@import "products/products";
@import "products/new";
@import "users/login";
@import "users/register1";
@import "users/index";
@import "users/userside";


.wrapper-take{
  color: rgb(51, 51, 51);
  box-sizing: border-box;
  margin:0 auto;
  padding: 0px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}

.displayflex{
  display: flex;
}


