div.field_with_errors{

  .has-error {
    border-color: #ea352d;
  }



}

.has-error-text {
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
  li{
    margin: 8px 0 0;
  }
}

ul, ol {
  list-style: none;
}

div {
  display: block;
}