// Place all the styles related to the pays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items-box_photo__sold{
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  // position: relative;
  position: absolute;
  top:0px;
  &__inner{
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-15px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

// .figre_relative{
// position: relative;
// }

#buyer_id_gray{
  background-color: gray;
}