.newproduct-margin
.popular-category-content__box__highrow
  .popular-category__highrow.displayflex
    .popular-category__highrow__leftbox
      %h5 家電・スマホ・カメラ新着アイテム
    .popular-category__highrow__rightbox
      = link_to root_path do
        %h7 もっと見る 〉

