.new-product-toplist__box
  = link_to root_path do
    %ul
      .new-product-toplist__box__image
        .new-product-toplist__price
          ￥ 
          = product.price
      .new-product-toplist__box__title
        .new-product-toplist__title
          = product.title