.completed-ito
  .completed-ito__head
    .completed-ito__head__wait
      %i.fa.fa-bell
      %h2 発送をお待ちください。
    %h3 出品者からの発送通知をお待ちください。

  .completed-ito__main
    %h2 購入が完了しました。
    .completed-ito__main__image
      = image_tag 'topspink.jpg', :height => "300", :width => "300"