#red-sai{
  background: red;
  cursor: pointer;
  color: white;
}

#sihari-sai {
  font-size: 24px;
  margin: 8px 0 0;
    line-height: 1.5;
    font-weight: 600;
    font-size: 22px;
}

#sharaibr{
width: 100%;
display: inline;
}



.buy-form{
margin: 0 auto;

&__siharai{

  height: 200px;
  max-width: 320px;
  margin: 0
  ;

  text-align: left;
  flex-wrap: wrap;
  margin-left: auto;
  max-width: 320px;

}



  &__inner{
    height: 200px;
    max-width: 320px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 320px;


    &__infotext{
      border-top: 30px;
      text-align: right;
      display: flex;
      margin: 8px 0 0;
    font-size: 30px;
    line-height: 1.4;

    }

    &__user{
      text-align: left;
      font-size: 100%;
      font-weight: normal;
      font-size:13px;

      
    }



    &__henkou{
      width: 100%;
      
      text-align: right;

    font-size: 100%;
  
    font-size: 13px;
   
    color: #0099e8;
    text-decoration: none;
  

  
    a {

  }

    }


  }
  .buy-accordion{
    background: #ccc;
    margin: 16px auto;
    width: 300px;

    
    &__toggle{
      width: 300px;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
     
  
      transition: all ease-out .3s;
      text-align: center;
    }
  }

  &__ja{
    margin: 8px 0 0;
    line-height: 1.5;

    font-weight: 600;
    font-size: 22px;



  }

  &__fee{

    margin: 0 0 0 8px;
    font-size: 14px;
    font-weight: 400;
  }


}

.l-single-container-sai2   {
  background: White;
  width: 700px;
  margin: 0 auto;
  display: block;
  &__head{
    border-bottom: 1px solid $gray;
    padding: 24px 8px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }

}

.buy-content-sai{
  padding: 24px 12.5% 0;
  border-top: 1px solid #f5f5f5;

  &__inner{
  max-width: 320px;
  margin: 0 auto;
  display: flex;


  &__lazyloaded{
    width: calc(100% - 80px);
    margin: 0 0 0 16px;
    float: left;

    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

  }

  &__imag{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    font-size: 22px;
    float: left;

  }

  }

}

.exhibit-error{
  position: relative;
  top:-20px;

}

.select-brand-take{
  height: 68px;
  margin: 5px 0 2px 0;
.select-brand-box{
  margin: 0 0 10px 0;
  width:100%;
  z-index: 2;
  height: 48px;
  border-radius: 4px;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-title{
height: 10px;
width:100%;

}



.sell-dropbox-container-take{
  width: 600px;
  height:200px;
  display: block;
  margin: 0 auto;
  background-color: #ccc;


.sell-dropbox-container-sai{
  position: relative;
  height:200px;
  width: 120px;
  // 複数画像投稿用cssのコメントアウトです消さないで下さい
  // height:200px;
  // display: block;
  // width: 600px;


  
  
.input-area-box{
  position: relative;
  height:200px;
  width: 120px;
  font-size: 50px;
  margin-left: 0px;
   

.sell-dropbox-container-sai__image {
cursor: pointer;
position: relative;
height: 200px;
width: 120px;
padding:70px 35px;
box-sizing: border-box;



.icon-camera{
  position: relative;

  i{
    position: absolute;
 
  }
  }



&__file{
font-size: 0;
text-align: center;
position: relative;

font-size: 0;
text-align: center;
// width: 100%;
border: 0;
outline: 0;
cursor: pointer;
}
&__visible{
display: none;
}

.pre{
  text-align: center;

}
}
}
}


#preview{
  display: flex;
}

#preview-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
  display:none;
}

// 以下商品編集画像時用のコメントアウトが多数あります。消さないでください。
// #preview-image-2{
//   width: 100%;
//   height: 200px;
//   object-fit: cover;
//   display:none;
// }

// #preview-image-3{
//   width: 100%;
//   height: 200px;
//   object-fit: cover;
//   display:none;
// }

// #preview-image-4{
//   width: 100%;
//   height: 200px;
//   object-fit: cover;
//   display:none;
// }

// #preview-image-5{
//   width: 100%;
//   height: 200px;
//   object-fit: cover;
//   display:none;
// }


// #preview-image-box{
//   position: relative;
//   height: 200px;
//   width:120px;
//   display:block;

  // .preview-image-box-2{
  //   position: relative;
  //   height: 200px;
  //   width:120px;
  //   display:block;
    
    
//   .images-preview-box{
//     position: relative;
//     height: 160px;
//     width:120px;
//     display:block;
//     background-color: white;
//     top: -200px;
//     // display: none;

//   .images-preview-block{
//     position: absolute;
//     height: 160px;
//     width:120px;
//     display:block;
//     background-color: white;

// .img-box{
//   position: relative;
//   display:block;
//   width:120px;
//   height:160px;
//   background-color: white;
  
  
//   img{
//     position: relative;
//     margin:0 auto;
//     display:block;
//     max-width:100%;
//     max-height:100%;
//   }
// }

// .preview-box-btn-list{
//   width:120px;
//   height:40px;
//   background-color: white;
//   display:block;
//   position: relative;

//   a:link {
//     color: $light-blue;
//     text-decoration: none;
//     }
//   a:visited {
//       color :$light-blue;
//       }  
//   a:hover {
//     color: $light-blue;
//     }
//   a:active {
//       color: $light-blue;
//   }

//   .preview-box-btn{
//     display:block;
//     width: 120px;
//     height:40px;
//     float:left;
//     text-align: center;
//     color: $light-blue;
//     background-color: white;


//   .preview__box__edit{
//     display:block;
//     width: 60px;
//     height:38px;
//     line-height: 38px;
//     float:left;
//     text-align: center;
//     background-color: white;
    

//   }

//   .preview__box__delete{
//     display:block;
//     width:60px;
//     height:38px;
//     line-height: 38px;
//     float:left;
//     text-align: center;
//     background-color: white;
//     position: relative;


//   }
// }

// }
//   }
// }
// }













  // }
// }
}




// 以下複数画像投稿用cssです消さないで下さい




.dropzone-container{
  width: 600px;
  height:200px;
  display: block;
  margin: 0 auto;
  background-color: #ccc;




  .images-preview-box{
    height: 160px;
    width:120px;
    display:block;
    background-color: white;
    text-align: center;
    // top: -200px;
    // display: none;

  // .images-preview-block{
  //   position: absolute;
  //   height: 200px;
  //   width:120px;
  //   display:block;
  //   background-color: white;

.img-box{
  display:block;
  width:120px;
  height:160px;
  background-color: white;
  
  
  img{
    display:block;
    width:120px;
    height:160px;
    background-color: white;
  }
}

// .preview-box-btn-list{
//   width:120px;
//   height:40px;
//   background-color: white;
//   display:block;
//   position: relative;

  a:link {
    color: $light-blue;
    text-decoration: none;
    }
  a:visited {
      color :$light-blue;
      }  
  a:hover {
    color: $light-blue;
    }
  a:active {
      color: $light-blue;
  }

  .preview-box-btn{
    display: flex;
    width: 120px;
    height:40px;
    float:left;
    text-align: center;
    color: $light-blue;
    background-color: white;


  .preview__box__edit{
    display: flex;
    width: 60px;
    height:38px;
    line-height: 38px;
    padding-left: 20px;
    float:left;
    text-align: center;
    background-color: white;
    

  }

  .preview__box__delete{
    display: flex;
    width:60px;
    height:38px;
    line-height: 38px;
    float:left;
    text-align: center;
    background-color: white;
    position: relative;


  }

  .preview__box__empty{
    display: flex;
    width: 60px;
    height:38px;
    line-height: 38px;
    padding-left: 20px;
    float:left;
    text-align: center;
    background-color: white;
    


  }






}

// }
  // }
}



// .btn_wrapper{
//   display: flex;
//   justify-content: space-between;
//   background-color:#f5f5f5;
//   height: 35px;
//   width: 120px;
// }

// .edit{
//   cursor: pointer;
//   color: #0099e8;
//   font-size: 14px;
//   line-height: 35px;
//   text-align: center;
//   width: 60px;
// }

// .delete {
//   cursor: pointer;
//   color: #0099e8;
//   font-size: 14px;
//   line-height: 35px;
//   text-align: center;
//   width: 60px;
}






.dropzone-area{
  box-sizing: border-box;
  width: 600px;
  height: 200px;
  // margin-top: 20px;
  // border: 1px dashed #ccc;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background: #ccc;
  .dropzone-box{
    width: 100%;
    height: 200px;
    .input_area{
      #upload-image__btn{
        display: none;
      }
    }
    p{
      font-weight: bold;
      cursor: pointer;
      height: 155px;
      padding: 50px;
    }
  }
}



// .dropzone-area2{
//   display: none;
//   box-sizing: border-box;
//   width: 100%;
//   height: 155px;
//   background: #f5f5f5;
//   border: 1px dashed #ccc;
//   font-size: 14px;
//   text-align: center;
//   cursor: pointer;
//   .dropzone-box{
//     padding: 0;
//     width: 100%;
//     height: 155px;
//     .input_area{
//       #upload-image__btn{
//         display: none;
//       }
//     }
//     p{
//       font-weight: bold;
//       cursor: pointer;
//       height: 155px;
//       padding: 50px;
//     }
//   }
// }

.dropzone-preview {
  display: flex;
}

#preview-image-box{
  height: 200px;
  display: flex;
}

.preview-image-box2{
  display: flex;
}

.dropzone-preview2 {
  display: flex;
}

.preview-image {
  display: none;
}

.img_box img {
  // margin: 20px 5px 0 0;
  height: 160px;
  width: 120px;
  background-color: white;
}


.btn_wrapper{
  display: flex;
  justify-content: space-between;
  background-color:#f5f5f5;
  height: 35px;
  width: 120px;
}

.btn_edit{
  cursor: pointer;
  color: #0099e8;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  width: 60px;
}

.btn_delete {
  cursor: pointer;
  color: #0099e8;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  width: 60px;
}
// }






// .preview-image{
// .images-preview-box{
//   width:120px;
//   display:block;
//   background-color: white;
//   .img-box{
    // display:block;
    // width:120px;
    // height:120px;
//     img{
//       margin:0 auto;
//       display:block;
//       max-width:100%;
//       max-height:100%;
//     }
//   }
  // .preview-box-btn-list{
  //   display: flex;
  //   flex-direction: row;  
  //   align-items: stretch; 

  // }
// }

// }


// .sell-dropbox-container-sai{
//   display: block;
//   height: 200px;
//   width: 500px;
//   margin: 0 auto;
//   background-color: #ccc;
//   border: 1px dashed #ccc;


// .dropzone-container{
//   // background: #f5f5f5;
//   display: block;
//   height: 200px;
//   width: 500px;
//   margin: 0 auto;
//   background-color: #ccc;
//   border: 1px dashed #ccc;

//   .dropzone-area{
//     // box-sizing: border-box;
//     width: 100%;
//     height: 180px;
//     margin:0 auto;
//     font-size: 14px;
//     text-align: center;
//     cursor: pointer;
//     background-color: #ccc;


//   .sell-dropbox-container-sai__image {
// cursor: pointer;
// position: relative;

// &__file{
// background: #f5f5f5;
// border: 1px dashed #ccc;
// font-size: 0;
// text-align: center;

// position: relative;
// height: 162px;
// background: #f5f5f5;
// border: 1px dashed #ccc;
// font-size: 0;
// text-align: center;
// width: 100%;
// border: 0;
// outline: 0;
// cursor: pointer;


// .icon-camera{
//   position: absolute;
//   top: 50px;
//   left: 50px;
//   transform: translate(-50%, -50%);
//   font-size: 14px;
//   i{
//   display: inline-block;
//   font-family: 'icon-font';
//   font-style: normal;
//   font-weight: 400;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   }
//   }
// }
// }
// &__visible{
// display: none;
// }


  //   .input-area-box{
  //     width:100%;
  //     height: 100%;
  //     justify-content: center;
  //     flex-direction: column; 
  //     align-items: center; 
  //   .input_area{
  //     #upload-image__btn{
  //       display: none;
  //     }
  //   }
  // }
  

  //   .image-preview-nav-text{
  //     // text-align: center;
  //     // justify-content: center;
  //     // flex-direction: column; 
  //     // align-items: center; 
  //     padding-top: 20px;

  //   h2{
      
  //     font-weight: bold;
  //     cursor: pointer;
  //     height: 160px;
  //     text-align: center;
  //     margin: 10px 0 auto;
      
      
  //   }
  // }
// }
  // }















// .dropzone-area2{
//   display: none;
//   box-sizing: border-box;
//   width: 100%;
//   height: 155px;
//   background: #f5f5f5;
//   border: 1px dashed #ccc;
//   font-size: 14px;
//   text-align: center;
//   cursor: pointer;
//   .dropzone-box{
//     padding: 0;
//     width: 100%;
//     height: 155px;
//     .input_area{
//       #upload-image__btn{
//         display: none;
//       }
//     }
//     p{
//       font-weight: bold;
//       cursor: pointer;
//       height: 155px;
//       padding: 50px;
//     }
//   }
// }

// .dropzone-preview {
//   display: flex;
// }



// #preview2{
//   display: flex;
// }

// .dropzone-preview2 {
//   display: flex;
// }

// .upload-image {
//   display: none;
// }

// .img_box img {
//   margin: 20px 5px 0 0;
//   height: 120px;
//   width: 120px;
// }


